.l_body,
.l_contents
  display: flex
  flex-direction: column

.l_body
  width: 100%
  max-width: initial
  min-height: 100vh

.l_contents
  width: 100%
  margin: 0 auto
  padding: 0 $margin
  +tablet
    padding: 0
  +desktop
    flex: 0 0 700px
    flex-direction: row
    width: $desktop
    max-width: $desktop
  .l_main
    +tablet
      padding: 0 $margin 0 0
    +desktop
      flex: 1
      align-content: flex-start
  .l_side
    +tablet
      padding: 0 0 0 $margin
    +desktop
      flex: 0 0 300px
