.l_footer
  display: flex
  align-items: center
  justify-content: center
  margin-top: ($margin * 3)
  padding: $margin
  color: $grey-lighter
  background: $blue
  border-radius: 120% 120% 0 0

.l_footer_site_info
  font-size: 1.5em
  color: $grey-lighter
  .fa-twitter-square
    color: $grey-lighter
  .l_footer_site_info_name
    text-decoration: underline
    color: $grey-lighter
  .fa-twitter-square
    font-size: 3em
  +desktop
    .fa-twitter-square
      font-size: 2em

