section.widget
  margin-bottom: ($margin * 2)
    
.widget_recent_entries
  ul
    li
      line-height: $lh-tiny
      margin-bottom: $margin
      padding-bottom: ($margin / 5)
      border-bottom: 1px solid $grey-light
      .post-date
        color: $grey
        font-size: $fz_x_small

// 検索フォーム
.searchform
  position: relative
  &:after
    content: "\f002"
    position: absolute
    top: 0
    bottom: 0
    left: $margin
    display: table
    margin: auto
    font: normal normal normal 14px/1 FontAwesome
  .screen-reader-text
    display: none
  #searchsubmit
    display: none
  input
    width: 100%
    padding: ($margin / 2) $margin ($margin / 2) ($margin * 3)
    border-radius: 20px
    border: 1px solid $grey-light
    color: $grey
    &:focus
      outline: none
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(102, 175, 233, 0.6)
      border-color: $blue
      color: $grey-dark